{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="bg-gray-50">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
           <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-center">
                        Enter New Password
                    </h1>

                    <form method="POST" action="" class="space-y-4 md:space-y-6">
                        {% csrf_token %}
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">New Password</label>
                            <input type="password" name="password1" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                            {% if form.password1.errors %}
                                <div class="text-red-500 text-sm">{{ form.password1.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
                            <input type="password" name="password2" id="confirm_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                            {% if form.password2.errors %}
                                <div class="text-red-500 text-sm">{{ form.password2.errors }}</div>
                            {% endif %}
                        </div>

                        <button
                            class="w-full group relative rounded-lg inline-block text-sm font-medium text-primary focus:ring-3 focus:outline-hidden"
                            type="submit"
                            >
                            <span class="w-full absolute rounded-lg inset-0 border border-current"></span>
                            <span
                                class="w-full block rounded-lg border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
                            >
                                Submit
                            </span>
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}