{% extends "base.html" %}

{% block content %}

    <section id='home' class="h-screen relative flex flex-col justify-center items-center text-black inset-0 z-0 py-12 px-6">
        
            <div class="z-10 absolute text-center px-4 sm:px-[40px]">
                <h1 class="text-5xl md:text-7xl font-bold mb-4">Delicious Meals <br/> <span class="text-primary">Delivered to Your Door<span/></h1>
                <p class="text-3xl md:text-4xl mb-8">Enjoy fresh, flavorful meals made with the finest ingredients, <br/> 
                delivered straight to your door, every time.
                </p>
                <div class="mb-8 flex justify-center items-center">
                    <img src="https://baconmockup.com/300/300/" alt="Delicious Food" class="w-2/4 h-auto object-cover rounded-lg">
                </div>
                <a href="{% url 'food' %}" class="text-white px-6 py-3 rounded-full text-lg bg-primary hover:bg-red-700 focus:outline-none focus:ring focus:ring-primary focus:ring-opacity-50">
                    Order Now
                </a>
            </div>
    </section>

{% endblock %}